.app-container {
  text-align: center;
  margin: 100px auto;
}

.game-container {
  margin: 30px auto;
  width: 40%;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 300px 40px;
  box-sizing: border-box;
}

.title {
  font-style: oblique;
}
